<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Welcome to the most extrordinary apartment in Rome - Italy ">
        <meta name="keywords" content="apartment, rome, italy  gesthouse">
        <title>L'Archetto apartment | Welcome</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="icon" type="image/x-icon" href="../imgs/logo.jpg">
        <script src="https://kit.fontawesome.com/2f591f9e97.js" crossorigin="anonymous"></script>
    </head>

    <body>
        <header>
            <nav id="navbar">
                <div class="container">
                    <h1 class="logo"><a href="index.html">L'Archetto</a></h1>
                    <ul>
                        <li><a class="current" href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </div>
            </nav>

            <div id="showcase">
                <div class="container">
                    <div class="showcase-content">
                        <h2><span class="text-primary">Enjoy</span> Your Stay</h2>
                        <p class="lead">Our welcoming haven combines modern comforts with timeless elegance for an unforgettable stay in the Eternal City</p>
                        <a class="btn" href="about.html">About Our Apartment</a>
                    </div>
                </div>

            </div>

        </header>


        <section id="home-info" class="bg-dark">
            <div class="info-img">

            </div>
            <div class="info-content">
                <h2> <span class="text-primary">Our apartment</span> </h2>
                <p> Welcome to L’Archetto, your charming retreat in the heart of Rome, just a 5-minute walk from the Vatican!
                    Our elegant late 19th-century building offers a warm and modern ambiance, making it the perfect base to explore major historical and artistic attractions such as the Vatican Museums and St. Peter's Basilica.
                    Conveniently located near public transportation, local eateries, and shops, immerse yourself in the true essence of Roman life and explore the vibrant streets of one of Rome's most beautiful neighborhoods!!</p>
            </div>
        </section>

        <section id="features">
            <div class="box">
                <i class="fa-solid fa-wifi fa-3x"></i>
                <h3>WiFi</h3>
                <p>Name : ArchettoGuest<br>
                Password: Archetto207!</p>
            </div>

            <div class="box f-bg">
                <i class="fa-solid fa-house fa-3x"></i>
                <h3>House rules</h3>
                No smoking<br>
                No Pets<br>
                No Parties<br>
                Quiet Hours after 10pm
            </div>
            <div class="box">
                <i class="fa-solid fa-mobile fa-3x"></i>
                <h3>Contact</h3>
                <p>+39 3387436729<br>
                f.mybnb@mybnb.com</p>
           </div>

        </section>

        <footer id="main-footer">
            <p> L'Archetto apartment &copy; 2024, All Rights Reserved
            </p>
        </footer>

    </body>

</html>
